@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    font-family: 'Varela', sans-serif
  }
}

.myclass {
background-color: black;
height: 25px;
}